// フォントサイズ関数
@function fontrem($px) {
  @return (calc($px / 16)) * 1rem;
}

/* 円を描くアニメーション */
@keyframes circling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

body {
  position: relative;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.flex {
  display: flex;

  &.-alicenter {
    align-items: center;
  }

  &.-culumn {
    flex-direction: column;
  }

  &.-flex_end {
    justify-content: flex-end;
  }

  &.-justycenter {
    justify-content: center;
  }
}

.-mt25 {
  margin-top: 25px;
}

.btn {
  border-bottom: 5px solid #b84c00;
  box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
  &.-orange {
    background-color: #eb6100;
    color: #fff;
  }
  &.-blue {
    background-color: #6de3ee;
    color: #fff;
  }
  &:hover {
    margin-top: 3px;
    border-bottom: 2px solid #b84c00;
    background: #f56500;
    color: #fff;
  }
}

.wrp {
  position: relative;
}

.ly_main {
  max-width: 100%;
  padding: 10px 20px;
}

.ly_block1 {
  margin-top: 25px;

  & .bl_h1 {
    font-size: fontrem(30);
    text-align: center;
  }
}

.ly_block2 {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 2px solid #222;

  & .bl_h2 {
    font-size: fontrem(25);
    text-align: center;
  }
  & .ly_form_area {
    margin-top: 30px;
  }
}

.ly_question {
  padding: 25px 0 30px;
  background-color: green;
}

.terms_list {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: fontrem(20);

  & .item {
    width: calc(100% / 5);
    text-align: center;
  }
}

.terms-dora {
  display: inline-flex;
  align-items: center;

  &.-border {
    border: 3px solid #fff;
  }

  &.reach img {
    width: 50%;
  }

  &.ly_image_area {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  & span {
    font-size: fontrem(14);
    color: #fff;
  }

  & div {
    margin-left: 15px;

    & > img {
      width: 27px;
    }
  }
}

.ly_image_area {
  align-items: center;
  justify-content: center;
  margin-top: 25px;

  & img {
    display: inline-block;
    width: calc(100% / 14);
  }
}

.ly_naki_area {
  justify-content: flex-end;
  margin-top: 15px;
  & .naki_area_list {
    width: calc(100% / 4);
  }
}

.ly_answer_area {
  margin-top: 15px;

  & .btn {
    padding: 15px 25px;
  }
}

.select_box {
  margin-right: 15px;
}

.btn-modal {
  display: flex;
  width: 250px;
  margin: 25px auto 0;
  padding: 0.9em 2em;
  border: 1px solid #2589d0;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1em;
  color: #2589d0;
  align-items: center;
  justify-content: center;
}

.btn-modal:hover {
  border: none;
  background-color: #2589d0;
  font-weight: 600;
  color: #fff;
}

/* モーダル */
.modal_outer {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 60%);
  transition: display 0.5s ease;

  &.is-show {
    display: block;
  }
}

.modal {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  overflow-x: scroll;
  width: 100%;
  background: #fff;
  transform: translate(-50%, -50%);

  & .modal_inner {
    position: relative;
    background: #fff;

    & .modal_contents {
      padding: 10px 15px;

      & p {
        font-size: fontrem(15);
        text-align: center;
      }
    }
  }
}

.close_btn {
  position: absolute;
  z-index: 11;
  top: 23%;
  right: 4%;
  display: block;
  width: 30px;
  height: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 40px;
    border-radius: 2.5px;
    background: #fff;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(30deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
}

/* 計算表 */
.table {
  display: none;
  width: 100%;
  margin-top: 25px;
  font-size: fontrem(12);

  &.is-show {
    display: block;
  }

  & th,
  & td {
    padding: 5px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
  }
}

/* 符 */
.fu_table {
  display: none;
  overflow-y: scroll;
  height: 500px;
}

.fu_table.is-show {
  display: block;
}

.fu_table section:first-of-type {
  margin-top: 15px;
}

.fu_table section {
  margin-top: 45px;
}

.fu_table h3 {
  font-size: fontrem(12);
  text-align: center;
}

.fu_list {
  display: flex;
  flex-direction: column;
  font-size: fontrem(8);
}

.fu_list .item {
  align-items: center;
  margin-top: 10px;
}

.fu_list .item p {
  margin-right: 10px;
}

.circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 2px red;
}

.circle .aa,
.circle .bb {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.circle .aa {
  left: 50%;
}
.circle .aa::before,
.circle .bb::before {
  content: "";
  position: absolute;
}

.circle .aa::before {
  display: block;
  width: 100%;
  height: 200%;
  background: #fff;
  transform-origin: 0 25%;
  animation: circling 0.3s linear forwards;
}

.circle .bb:before {
  left: -10%;
  width: 110%;
  height: 120%;
  background: #fff;
  transform-origin: 100% 40%;
  animation: circling 0.3s ease-out 0.3s forwards;
}

.yakuList {
  display: flex;
  width: 100%;
  margin-top: 15px;
  flex-wrap: wrap;
  & .item {
    position: relative;
    width: calc(100% / 5);
    padding-left: 13px;
    font-size: fontrem(17);
    flex-wrap: wrap;

    &:nth-child(n + 5) {
      margin-top: 10px;
    }

    &::before {
      content: "・";
      position: absolute;
      left: 0;
    }
  }
}
